.component-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(231, 224, 218, 1);
  }
button{
    background-color:rgba(255, 255, 255, 1)
}
button:hover {
    background-color: rgba(139, 90, 43, 1);
  }
  
.btn-selected {
    background-color: rgba(139, 90, 43, 1);
}
p{
    font-weight: bold;
}