<article class="component-container">
  <section class="m-5">
    <p>Nuevas huellitas en adopción</p>
    <img [src]="dogImage" alt="Dog" class="random-image">
    <img [src]="catImage" alt="Cat" class="random-image">
  </section>

  <section class="m-5">
    <p>Adopta una huellita</p>
  </section>
   <section class="m-5 d-flex">
    <div class="col-4">
      <button class="btn btn-lg rounded-pill px-4"
              (click)="changeColor('all')" 
              [ngClass]="{'btn-selected': selectedButton === 'all'}">todos</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-lg rounded-pill px-4" 
              (click)="changeColor('dogs')" 
              [ngClass]="{'btn-selected': selectedButton === 'dogs'}">perros</button>
    </div>
    <div class="col-4 text-end">
      <button class="btn btn-lg rounded-pill px-4" 
              (click)="changeColor('cats')" 
              [ngClass]="{'btn-selected': selectedButton === 'cats'}">gatos</button>
    </div>
  </section>
  
  <section class="m-5 d-flex flex-wrap">
    <div *ngFor="let image of images" class="col-3 mb-3">
      <img [src]="image" alt="Image" class="result-image img-fluid">
    </div>
  </section>
</article>
