*{
    font-family: Poppins;
}

form{
    margin-top: 30px;
    margin-bottom: 30px;
}


#form__usuario{
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #8B5A2B;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 90%;
    font-size: 18px;
}


#form__contraseña{
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #8B5A2B;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 30px;
    width: 90%;
    font-size: 18px;
}

.up{
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.9;
    backdrop-filter: blur(2px);

}

.down{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-login{
    width: 100%;
}

.button-submit{
    border: none; 
}

.olvido{
    float: right;
}

.olvido p{
    color: white;
    margin-top: 0px;
    font-size: 12px;
}

.line{
    color: white;
    border: 1px solid white;

}

.count{
    margin-top: 29px;
}

.count p{
color: white;
font-size: 12px;
}

@media (min-width: 768px){
    .olvido{
        float: none;
    }

    .img-login{
        width: 50%;
    }
    

}