<div class="container-form up">
    <form>
        <div class="form-group">
            <label for="usuario"></label>
            <input type="text" class="form-control" name="nombre" id="form__usuario" value="Usuario" />
        </div>
        <div class="form-group">
            <label for="contraseña"></label>
            <input type="text" class="form-control" name="contraseña" id="form__contraseña" value="Contraseña" />
        </div>
    </form>
</div>

<div class="container-form down">
    <div class="form-group olvido">
        <p>¿Has olvidado la contraseña?</p>
    </div>
    <div class="form-group submit">
        <!-- <button type="submit" class="button-submit"> --><img class="img-login" src="../../../assets/boton.png" /><!-- </button> -->
    </div>
</div>
<hr class="line"/>

<div class="count"><p>¿No tienes cuenta?  Regístrate</p></div>











